# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Adventure.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\Github\Flat.Adventure\Adventure\.idea\.idea.Adventure\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
